.o-printmap-resolution-dropdown {
  width:100%;
  border-color: grey;
  background-color: white;
}

.o-print-resolution-dropdown ul {
  border-bottom: 1px solid grey;
  border-left: 1px solid grey;
  border-right:1px solid grey;
}

.o-print-resolution-dropdown {
  margin-bottom: 4rem;
}